@{
    ViewData["Title"] = "Home Page";
}
<body class="overflow-auto">
<div class="text-center">
    <article> <img scr" /><img /></article>
    <h1 class="display-4">Avondale Stuff Mamber Directory</h1>

    <div>
            <img src="~/images/screenshot 2024-03-28 151521.png" />
    </div>
    <component>
    <article>
            TextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextText







    </article>
    </component>









</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - StaffDirectory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> 
    </div>
</footer>
<style>
    .footer{
        background-color:aqua;

    }

    .body{
        width:150px;
        height:300px;
        max-width:150;
        max-height:500;
        overflow:auto;
    }
    .component{
        width: 10px;
        height: 300px;
        max-width: 500;
        max-height: 500;
        overflow: auto;

    }


</style>